# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
image-checker.log # Log ze skryptu sprawdzania obrazków

node_modules
dist
dist-ssr
*.local

# Ignored scripts and their outputs
.scripts/
available-images.json
checked-urls.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.bolt
.ignore
